<?xml version="1.0" encoding="gbk" standalone="yes"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="configuration.xsd">
	<prop value="http://192.168.80.252:8083/icon/" key="iconDir"/><!-- 统一访问资源图片的路径 -->
	
	<!-- 存储方式  ftp/local，当配置为ftp则要配置下面的ftp服务，当配置为local则要配置rootRealPath指定本地根路径-->
	<prop value="local" key="iconStorage"/>
	<prop value="D:/icons" key="rootRealPath"/><!-- 文件系统放在电脑的本地路径 -->
	<!-- 配置ftp服务，用来存储资源的方式-->
	<prop value="192.168.80.252" key="ftp_ip"/>
	<prop value="7878" key="ftp_port"/>
	<prop value="JP" key="ftp_username"/>
	<prop value="123123" key="ftp_password"/>
	<prop value="utf-8" key="ftp_encoding"/>
	
	<prop value="0 0 3 * * ?" key="time"/><!--0 * 9 * * ? 触发应用检测的时间（每天的凌晨三点触发） -->
	
	<!-- 操作日志 -->
	<dictionary>
		<category chName="用户" enName="com.ligitalsoft.usermanger.service.impl.PersonServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
			<entry code="saveRoles" name="分配角色" />
			<entry code="saveOrgs" name="分配机构" />
			<entry code="savePermiss" name="分配应用权限" />
		</category>
		<category chName="机构" enName="com.ligitalsoft.orgmanager.service.impl.OrgInfoServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
			<entry code="savePersons" name="分配人员" />
		</category>
		<category chName="角色" enName="com.ligitalsoft.rolemanager.service.impl.RoleInfoServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
			<entry code="savePersons" name="分配人员" />
			<entry code="savePermiss" name="分配应用权限" />
		</category>
		<category chName="用户组" enName="com.ligitalsoft.groupmanager.service.impl.GroupInfoServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
			<entry code="savePersons" name="分配人员" />
			<entry code="savePermiss" name="分配应用权限" />
		</category>
		<category chName="应用" enName="com.ligitalsoft.appmanager.service.impl.AppInfoServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
		</category>
		<category chName="应用类型" enName="com.ligitalsoft.appmanager.service.impl.AppTypeServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
			<entry code="saveActivities" name="分配应用" />
		</category>
		<category chName="活动" enName="com.ligitalsoft.appmanager.service.impl.ActivityInfoServiceImpl">
			<entry code="update" name="修改" />
			<entry code="insert" name="添加" />
			<entry code="deleteAllByIds" name="删除指定所有" />
		</category>
		<category chName="活动" enName="com.ligitalsoft.view.service.impl.PersonStageServiceImpl">
			<entry code="noteBrowseAct" name="访问" />
			<entry code="noteInsertAct" name="添加" />
			<entry code="noteRemoveAct" name="删除" />
		</category>
	</dictionary>
</configuration>
